<div class="card" style="width: 36rem;">
    <img class="card-img-top" src="images/Logo_Extended.png" alt="Cloud-Versity Logo">
    <div class="card-body" style="background-color: #009399">
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">POD name</th>
                    <td>{{ hostName }}</td>
                </tr>
                <tr>
                    <th scope="row">Node</th>
                    <td>{{ platform }} | {{ release }}</td>
                </tr>
        </table>
    </div>
</div>